$dark_gray: #4b4b4b;
$light_gray: #8c8c8c;
$dark_blue: #0064a5;
$orange: #ffc600;
$bluesky: #d3f1ff;


html, body {
	a{
		&:hover {
			color: $orange;
		}
	}
}

body {
    font: 14px/24px Verdana, sans-serif;
    width: 100%;
    background-color: $bluesky;
	counter-reset: list1;
}

h2 {
	color: $dark_blue;
	font: 22px/30px Verdana, sans-serif;
	margin-bottom: 18px;
}
h3 {
	color: $dark_blue;
}
h4 {
	font: 14px/20px Verdana, sans-serif;
}

p {
	color: $light_gray;
}
.hello {
	margin-bottom: 24px;
	> h2 {
		font: bold 14px/24px Verdana, sans-serif;
		color: $dark_gray;
		margin-bottom: 16px;

	}
}
.step_item{
	padding-bottom: 9px;
    padding-left: 36px;
    border-left: 2px solid #ffc600;
    margin-left: 13px;
	&:last-child {
		border: none;
	}
	> h3 {
		margin-bottom: 0;
		font-size: 14px;
	}
	> a {
		color: $dark_blue;
		font: 12px/24px Verdana, sans-serif;
		&:hover {
			text-decoration: none;
		}
	}
	> p {
		margin-bottom: 5px;
	}
	&:before {
		counter-increment: list1;
		content: counter(list1);
		display: block;
		width: 28px;
		height: 28px;
		border-radius: 14px;
		background-color: #ffc600;
		color: #fff;
		text-align: center;
		font: bold 14px/28px Verdana,sans-serif;
		vertical-align: middle;
		float: left;
		position: absolute;
		left: 15px;
	}

}

.more_item {
	&:before, &:after {
		content: '';
		display: block;
		border-radius: 25px;
		width: 50px;
		height: 50px;
		margin-right: 20px;
		margin-bottom: 10px;
	}
	&.more_item:before {
		background-color: $orange;
		float: left;
	}
	&.more_item:after {
		background: url(img/snippets.png);
		position: absolute;
		top: 2px;
		left: 17px;

	}
	&.more_item_service:after {
		background-position: 0 0;

	}
	&.more_item_faq:after {
		background-position: -43px 1px;
	}
	> a {
		color: $dark_blue;
		font: 14px/20px Verdana, sans-serif;
		text-decoration: underline;
		&:hover {
			text-decoration: none;
		}
	}
}

.container {
	background: #fff;
}
.header {
	margin-top: 80px;
}
.content{
	padding: 0 75px;
}

#header {
	height: 195px;
	margin: 0 -15px;
	.logo {
		display: block;
		width: 244px;
		height: 73px;
		float: left;
		background: url(img/logo.png) no-repeat;
		position: relative;
		top: 53px;
		left: 59px;
		z-index: 1;
	}
	.shapes {
		position: absolute;
		width: 270px;
		height: 213px;
		background: url(img/shapes.jpg) no-repeat;
		background-position: 78px -44px;
		right: 0;
	}
}
#question_block {
	display: block;
	width: 100%;
	height: 211px;
	background-color: #e6f7ff;
	border-radius: 5px;
	padding: 25px 45px;
	margin: 55px 0 65px;
	float: left;

	h2 {
		font: 22px/28px Verdana, sans-serif;
	}
	p {
		color: $dark_blue;
	}
}
.lady {
	display: block;
	width: 160px;
	height: 220px;
	background: url(img/lady.png) no-repeat;
	position: absolute;
    right: 27px;
    bottom: 65px;
	span {
		font: 12px/16px Verdana,sans-serif;
		color: #fff;
		width: 160px;
		text-align: right;
		position: absolute;
		bottom: 0;
		padding: 0 20px 17px 45px;
	}
}

section#question{
	> .content {
		padding: 0 50px;
	}
}

footer {
	margin-bottom: 80px;
	.container {
		background-color: $dark_blue;
	}
	.content {
		padding: 40px 140px 27px;
		text-align: center;
		h4 {
			color: #fff;
			margin-bottom: 13px;
		}
		p {
			font: 12px/20px Verdana, sans-serif;
			color: #66c3ef;
			margin-bottom: 35px;
			> a {
				color: inherit;
			}
		}
		a {
			color: #fff;
			text-decoration: underline;
			font: 12px/20px Verdana, sans-serif;
			&:hover {
				color: $orange;
			}
		}
	} 
}
.social_link {
	margin-top: 14px;
}
a.social_link_item {
	display: inline-block;
	width: 30px;
	height: 30px;
	border-radius: 15px;
	background-color: #004e80;
	margin-left: 7px;
	&:first-child {
		margin-left: 0;
	}

	&:hover {
		background-color: #3e8abb;
	}
	&:before {
		display: block;
		width: 30px;
		height: 30px;
		content: '';
		background: url(img/snippets.png);
	}
	&.social_link_item__vk:before {
		background-position: -88px -8px;

	}
	&.social_link_item__fb:before {
		background-position: -125px -7px;;
	}
}

@media (max-width: 768px) {
	#question_block 
	{
		h2 {
			font: 18px/24px Verdana, sans-serif;
		}
		p {
			font: 12px/20px Verdana, sans-serif;
		}
	}
}
@media (max-width: 576px) {
	.lady {
		display: none;
	}
}
@media (max-width: 425px) {
	footer .content {
		padding: 40px 50px 27px;
	}
	section#question>.content {
		padding: 0 22px;
	}
	#question_block {
		padding: 25px 45px;
		margin: 20px 0;
	}
	.header  {
		margin-top: 20px;
	}
	footer {
		margin-bottom: 20px;
	}
}