doctype html
html(lang='ru')
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
		meta(name='description', content='')
		meta(name='author', content='')
		link(rel='icon', href='../../../../favicon.ico')
		title Приветственное письмо
		// Bootstrap core CSS
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap-grid.min.css')
		link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap-reboot.min.css')
		// Place your stylesheet here
		link(href='/template_styles.min.css', rel='stylesheet', type='text/css')
	body
		main
				
			section
				.container.header
					.row
						.col-12
							#header
								.logo
								.shapes
				.container.content
					.row
						.col-12
							.hello
								h2 Здравствуйте, Светлана!
								p Благодарим вас за выбор сервиса подбора недвижимости «Мой вариант»!
							h2 Сделайте два простых шага к квартире мечты
							.step_item
								h3 Добавьте в систему ваш объект
								p (квартиру, комнату, дом), который вы хотите продать или обменять.
								a(href='#') Читайте, как добавить объект →
							.step_item
								h3 Опишите жилье, которое вы хотите купить или получить при обмене.
								p Подробно укажите параметры желаемого жилья — это поможет подобрать именно то, что вы хотите.
								a(href='#') Читайте, как добавить запрос →
						.col-12
							h2 А дальше...
							p Система подберет для вас подходящие варианты. А также будет уведомлять о появлении новых объектов, соответствующих вашему запросу.
							p Свяжитесь с владельцами объекта для обмена или покупки недвижимости. Вы можете использовать телефон или внутреннюю
			section
				.container.content
					.row
						.col-12
							h2 Узнайте больше о сервисе <br>«Мой вариант»
						.col-md-6.col-sm-12
							.more_item.more_item_service
								a(href) Описание всех возможностей сервиса
						.col-md-6.col-sm-12
							.more_item.more_item_faq
								a(href) Ответы на часто задаваемые вопросы
			section#question
				.container.content
					.row
						.col-12
							#question_block
								.row
									.col-sm-8.col-xs-12
										h2 Есть вопросы? <br>Обратитесь в службу поддержки!
										p По телефону +7 (4852) 58-17-58 <br>или через форму обратной связи
								.lady
									span Мы будем рады помочь Вам!
				
		footer
			.container.content
				.row
					.col-12
						h4 Сервис подбора недвижимости «Мой Вариант»
						p Вы получили это письмо, потому что подписаны на рассылку в сервисе «Мой вариант». Вы можете управлять настройками рассылки в 
							|
							a(href) личном кабинете.
						a(href="") Связаться с нами
						.social_link
							a.social_link_item.social_link_item__vk(href='#')

							a.social_link_item.social_link_item__fb(href='#')
							
						