html a:hover, body a:hover {
  color: #ffc600; }

body {
  font: 14px/24px Verdana, sans-serif;
  width: 100%;
  background-color: #d3f1ff;
  counter-reset: list1; }

h2 {
  color: #0064a5;
  font: 22px/30px Verdana, sans-serif;
  margin-bottom: 18px; }

h3 {
  color: #0064a5; }

h4 {
  font: 14px/20px Verdana, sans-serif; }

p {
  color: #8c8c8c; }

.hello {
  margin-bottom: 24px; }
  .hello > h2 {
    font: bold 14px/24px Verdana, sans-serif;
    color: #4b4b4b;
    margin-bottom: 16px; }

.step_item {
  padding-bottom: 9px;
  padding-left: 36px;
  border-left: 2px solid #ffc600;
  margin-left: 13px; }
  .step_item:last-child {
    border: none; }
  .step_item > h3 {
    margin-bottom: 0;
    font-size: 14px; }
  .step_item > a {
    color: #0064a5;
    font: 12px/24px Verdana, sans-serif; }
    .step_item > a:hover {
      text-decoration: none; }
  .step_item > p {
    margin-bottom: 5px; }
  .step_item:before {
    counter-increment: list1;
    content: counter(list1);
    display: block;
    width: 28px;
    height: 28px;
    border-radius: 14px;
    background-color: #ffc600;
    color: #fff;
    text-align: center;
    font: bold 14px/28px Verdana,sans-serif;
    vertical-align: middle;
    float: left;
    position: absolute;
    left: 15px; }

.more_item:before, .more_item:after {
  content: '';
  display: block;
  border-radius: 25px;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  margin-bottom: 10px; }

.more_item.more_item:before {
  background-color: #ffc600;
  float: left; }

.more_item.more_item:after {
  background: url(img/snippets.png);
  position: absolute;
  top: 2px;
  left: 17px; }

.more_item.more_item_service:after {
  background-position: 0 0; }

.more_item.more_item_faq:after {
  background-position: -43px 1px; }

.more_item > a {
  color: #0064a5;
  font: 14px/20px Verdana, sans-serif;
  text-decoration: underline; }
  .more_item > a:hover {
    text-decoration: none; }

.container {
  background: #fff; }

.header {
  margin-top: 80px; }

.content {
  padding: 0 75px; }

#header {
  height: 195px;
  margin: 0 -15px; }
  #header .logo {
    display: block;
    width: 244px;
    height: 73px;
    float: left;
    background: url(img/logo.png) no-repeat;
    position: relative;
    top: 53px;
    left: 59px;
    z-index: 1; }
  #header .shapes {
    position: absolute;
    width: 270px;
    height: 213px;
    background: url(img/shapes.jpg) no-repeat;
    background-position: 78px -44px;
    right: 0; }

#question_block {
  display: block;
  width: 100%;
  height: 211px;
  background-color: #e6f7ff;
  border-radius: 5px;
  padding: 25px 45px;
  margin: 55px 0 65px;
  float: left; }
  #question_block h2 {
    font: 22px/28px Verdana, sans-serif; }
  #question_block p {
    color: #0064a5; }

.lady {
  display: block;
  width: 160px;
  height: 220px;
  background: url(img/lady.png) no-repeat;
  position: absolute;
  right: 27px;
  bottom: 65px; }
  .lady span {
    font: 12px/16px Verdana,sans-serif;
    color: #fff;
    width: 160px;
    text-align: right;
    position: absolute;
    bottom: 0;
    padding: 0 20px 17px 45px; }

section#question > .content {
  padding: 0 50px; }

footer {
  margin-bottom: 80px; }
  footer .container {
    background-color: #0064a5; }
  footer .content {
    padding: 40px 140px 27px;
    text-align: center; }
    footer .content h4 {
      color: #fff;
      margin-bottom: 13px; }
    footer .content p {
      font: 12px/20px Verdana, sans-serif;
      color: #66c3ef;
      margin-bottom: 35px; }
      footer .content p > a {
        color: inherit; }
    footer .content a {
      color: #fff;
      text-decoration: underline;
      font: 12px/20px Verdana, sans-serif; }
      footer .content a:hover {
        color: #ffc600; }

.social_link {
  margin-top: 14px; }

a.social_link_item {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-color: #004e80;
  margin-left: 7px; }
  a.social_link_item:first-child {
    margin-left: 0; }
  a.social_link_item:hover {
    background-color: #3e8abb; }
  a.social_link_item:before {
    display: block;
    width: 30px;
    height: 30px;
    content: '';
    background: url(img/snippets.png); }
  a.social_link_item.social_link_item__vk:before {
    background-position: -88px -8px; }
  a.social_link_item.social_link_item__fb:before {
    background-position: -125px -7px; }

@media (max-width: 768px) {
  #question_block h2 {
    font: 18px/24px Verdana, sans-serif; }
  #question_block p {
    font: 12px/20px Verdana, sans-serif; } }

@media (max-width: 576px) {
  .lady {
    display: none; } }

@media (max-width: 425px) {
  footer .content {
    padding: 40px 50px 27px; }
  section#question > .content {
    padding: 0 22px; }
  #question_block {
    padding: 25px 45px;
    margin: 20px 0; }
  .header {
    margin-top: 20px; }
  footer {
    margin-bottom: 20px; } }
